<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>铁塔信息修改</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
   
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="css/index.css">
	<style>
		.el-input__inner{
			background-color: rgba(46,77,112,1) ;
			color: white;
        }
		.el-form-item__label{
			color: white;
		}
	</style>
</head>

<body class="hold-transition skin-purple sidebar-mini">
	<script src="js/vue.global.js"></script>
	<script src="js/index.full.js"></script>
    <div class="wrapper">
		<div id="app" class="content" style="margin-left: 0%;height: 800px;>
		  <!-- 内容头部 -->
			 <section class="content-header">
				 <p style="color: white;font-size: 23px;font-weight:bold;margin-left:1.5%">
				     铁塔信息修改
				 </p>
			 </section>
		   <!-- 内容头部 /-->
		 
			 <!-- 正文区域 -->
			 <section class="content" style="height: 500px;">				 
				 <!-- .box-body -->
				 <div class="box box-primary" style="background-color:#293441;">
					 <div class="box-body">						
						 <div class="table-box">
							 
							 <el-form ref="form" :model="form" label-width="30%">	 
							   
							   <el-row :gutter="24">
								   <el-col :span="22">
									   <el-form-item label="铁塔名称:" style="margin-left:8%">
											<el-input id="ironName" v-model="form.ironName" placeholder="铁塔名称" style="width:71%"></el-input>								  
									   </el-form-item>										   
								   </el-col>				  
							   </el-row>
							   
							   <el-row :gutter="24">
									   <el-col :span="22">
										   <el-form-item label="经度:" style="margin-left:8%">
												<el-input id="precision" v-model="form.precision" placeholder="经度" style="width:71%"></el-input>								  
										   </el-form-item>										   
									   </el-col>				  
							   </el-row>
							   
							   <el-row :gutter="24">
								   <el-col :span="22">
									   <el-form-item label="纬度:" style="margin-left:8%">
											<el-input id="latitude" v-model="form.latitude" placeholder="纬度" style="width:71%"></el-input>								  
									   </el-form-item>										   
								   </el-col>				  
							   </el-row>
							   
							   <el-row :gutter="24">
								   <el-col :span="22">
									   <el-form-item label="位置:" style="margin-left:8%">
											<el-input id="location" v-model="form.location" placeholder="位置" style="width:71%"></el-input>								  
									   </el-form-item>										   
								   </el-col>				  
							   </el-row>
							   
							   <el-row :gutter="24">
								   <el-col :span="22">
									   <el-form-item label="第一负责人:" style="margin-left:8%">
											<el-input id="oneAlertPeopleName" v-model="form.oneAlertPeopleName" placeholder="第一负责人" style="width:71%"></el-input>								  
									   </el-form-item>										   
								   </el-col>				  
							   </el-row>
							   
							   <el-row :gutter="24">
								   <el-col :span="22">
									   <el-form-item label="第二负责人:" style="margin-left:8%">
											<el-input id="twoAlertPeopleName" v-model="form.twoAlertPeopleName" placeholder="第二负责人" style="width:71%"></el-input>								  
									   </el-form-item>										   
								   </el-col>				  
							   </el-row>
							   
							   <el-row :gutter="24">
								   <el-col :span="22">
									   <el-form-item label="第三负责人:" style="margin-left:8%">
											<el-input id="threeAlertPeopleName" v-model="form.threeAlertPeopleName" placeholder="第三负责人" style="width:71%"></el-input>								  
									   </el-form-item>										   
								   </el-col>				  
							   </el-row>
							   
							   <el-row :gutter="24">
								   <el-col :span="22">
									   	 <el-form-item style="margin-left:27%">
											<el-button type="primary" @click="onSubmit">修改</el-button>
											<el-button @click="back" style="margin-left:5%"> 返回</el-button>
							            </el-form-item>								   
								   </el-col>				  
							   </el-row>
							   
							   
							  
							 </el-form>
							 <!-- /表格 -->
							 
							 <!--数据列表/--> 
						 </div>
						
					 </div>
					 <!-- /.box-body -->					
				 </div>
 
			 </section>
			 <!-- 正文区域 /-->
        </div>
    </div>

    <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script>
		$.get("json/data/iron_update_data.json",function(ret){
			$("#ironName").val(ret[0].ironName);
			$("#precision").val(ret[0].precision);
			$("#latitude").val(ret[0].latitude);
			$("#location").val(ret[0].location);
			$("#oneAlertPeopleName").val(ret[0].oneAlertPeopleName);
			$("#twoAlertPeopleName").val(ret[0].twoAlertPeopleName);
			$("#threeAlertPeopleName").val(ret[0].threeAlertPeopleName);
		});
	
		var Main = {
		    data() {
		      return {
				admins: [],
		        form: {
					ironName:'',
					precision:'',
					latitude:'',
					location:'',
					oneAlertPeopleName:'',
					twoAlertPeopleName:'',
					threeAlertPeopleName:''
		        }
		      }
		    },
		    methods: {
		      onSubmit() {
				  if($("#ironName").val()==''){
					  confirm("铁塔名称不能为空");
				  }else if($("#precision").val()==''){
					  confirm("经度不能为空");
				  }else if($("#latitude").val()==''){
					  confirm("纬度不能为空");
				  }else if($("#location").val()==''){
					  confirm("位置不能为空");
				  }else if($("#oneAlertPeopleName").val()==''){
					  confirm("第一负责人不能为空");
				  }else if($("#twoAlertPeopleName").val()==''){
					  confirm("第二负责人不能为空");
				  }else if($("#threeAlertPeopleName").val()==''){
					  confirm("第三负责人不能为空");
				  }else{
					  var data=[
					  	{
					  	 	"ironName" : $("#ironName").val(),
					  		"precision" : $("#precision").val(),
					  		"location" : $("#location").val(),
					  		"oneAlertPeopleName" : $("#oneAlertPeopleName").val(),
					  		"twoAlertPeopleName" : $("#twoAlertPeopleName").val(),
					  		"threeAlertPeopleName" : $("#threeAlertPeopleName").val(),
					  	}
					  ]
					  //修改操作
					  console.log(data);
					  $.ajax({
					  	  type: 'POST',
					  		  url: "",
					  		  data: JSON.stringify(data),    
					  		  contentType: 'application/json;charset=UTF-8',
					  		  dataType: 'json',   
					  		  success: function(data) {
					  		  },
					  		  error: function(xhr, type) {
					  	   }
					  });
					  
					  //
					  window.history.back();
					  
				  }
		      },
			  
			  back() {
			    window.history.back();
			  }
		    }
		  }
		;const app = Vue.createApp(Main);
		app.use(ElementPlus);
		app.mount("#app")
	</script>
</body>

</html>
<!---->